*{
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}
h1{
    font-weight: 700;
    font-size: 65px;
    color: #151414;
}

h2{
    font-weight: 700;
    font-size: 40px;
    color: #151414;
}
p{
    font-size: 16px;
    line-height: 26px;
    color: #444343;
}
button{
    font-size: 20px;
    font-weight: 600;
}

/* header styles */

header{
    background: url('../images/banner/banner1.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.banner{
    text-align: right;
    padding: 216px 230px 216px 845px;
}
.primary-btn{
    background: #F15B22;
    border: 0;
    color: #fff;
    border-radius: 5px;
    padding: 20px 25px;
}
.banner-description{
    padding: 24px 0 32px;
}

/* previous failures styles */

.section-container{
    padding: 130px 205px 0px;
}
.previous-failures-container{
    display: flex;
    align-items: center;
    gap: 85px;
}

.failures-text{
    padding-right: 100px;
}

ul{
    list-style: none;
    line-height: 28px;
    padding-left: 0px;
}

ul li:before{
    content: '✔';
    color: #16D887;
    padding-right: 10px;
}

.failures-description{
    padding: 24px 0 16px;
}

/* my plans */

.my-plans-container{
    display: flex;
    gap: 105px;
    text-align: center;
    justify-content: center;
}
.my-plans-title{
    text-align: center;
    padding-bottom: 50px;
}

/* positive mindset */

.positive-mindset{
    background: linear-gradient(90deg, #F15B22 0%, rgba(241, 91, 34, 0) 100%), url('../images/watch.png');
    background-repeat: no-repeat;
    background-size: cover;
    margin: 130px 230px;
    border-radius: 8px;
}
.positive-mindset-container{
    text-align: left;
    padding: 60px 500px 60px 65px;
}
.positive-mindset-title{
    color: white;
    padding-bottom: 30px;
}
.secondary-btn{
    background: #fff;
    border: 0;
    color: #F15B22;
    border-radius: 5px;
    padding: 20px 25px;
}